h1 {
    color: blue;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p {
    color: black;
    font-size: medium;
    background: local;
    text-align: center;
    background-color: whitesmoke;
}