body {
    background-color: lightblue;
    background-image: url(gambar/clipart1809318.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 300px;
    
}